# vim
.*.un~
.*.sw[nmop]

# pyinstaller
build
dist
main.spec

# the original game
tggw

# savedata
slot*
TGGW.ini
# screenshot
screenshot

# python
__pycache__

# windows
*.lnk

# plugin error log
error.log

# FreeFileSync
*.ffs_*