# vim
.*.un~
.*.sw[nmop]

# pyinstaller
build
dist
main.spec

# the original game
tggw

# savedata
slot*
TGGW.ini

# python
__pycache__

# windows
*.lnk

# plugin error log
error.log

# screenshot
tggw_*.txt
